:host {
  pointer-events: none;
  .chip-wrap {
    align-items: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 172px;
    height: 40px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 10px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    padding: 0 8px;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    zoom: 1;

    .ico-wrap {
      height: 20px;
      margin: 2px;
      width: 20px;
      background-color: white;
      border-radius: 20px;
      align-items: center;
      display: flex;
      justify-content: center;
      overflow: hidden;
      border: 4px solid #fff;
    }

    .repos-title {
      color: white;
      flex: 1;
      font-weight: 500;
      overflow: hidden;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 12px;
      margin-right: 8px;
    }
  }
}
