:host {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  flex: 1;
  min-width: 550px;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .filter-bar {
    width: 100%;
    flex: none;
    min-height: 50px;
    display: flex;
    justify-content: flex-end;

    .filter-form {
      width: 100px;
      padding-left: 10px;
      font-size: 14px;
    }
  }
}
