<!--The content below is only a placeholder and can be replaced.-->
<gs-toolbar [user]="user | async"
            (refresh)="onRefresh($event)"
            (replace)="openBindUserDialog()"
            (searchChange)="searchChange($event)"
            (toggleCollapsed)="toggleCollapsed()">
</gs-toolbar>
<gs-sidebar *ngIf="!isCollapsed"></gs-sidebar>
<div class="content">
  <div class="filter-bar" *ngIf="!(loading$ | async)">
    <mat-form-field class="filter-form">
      <mat-select placeholder="语言" [(value)]="language">
        <mat-option value="#ALL">全部</mat-option>
        <mat-option *ngFor="let language of languageMap" [value]="language">{{language}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="filter-form">
      <mat-select placeholder="排序" [(value)]="sort">
        <mat-option value="star-date">最近 Star</mat-option>
        <mat-option value="last-active">最近活跃</mat-option>
        <mat-option value="most-stars">最多 Star</mat-option>
        <mat-option value="most-fork">最多 Fork</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <gs-stars-list [loading]="loading$ | async">
    <gs-stars-item *ngFor="let star of repos$ |
                            async |
                            repoSearch: keywords |
                            repoLanguageFilter: language |
                            repoSort: sort"
                   [star]="star"
                   [keywords]="keywords"
                   (onDrag)="onDrag($event)"
                   (onDragEnd)="onDragEnd($event)"
                   (onDragStart)="onDragStart($event)"></gs-stars-item>
  </gs-stars-list>
</div>

<gs-dnd-chip [repo]="dndRepo"></gs-dnd-chip>
<router-outlet></router-outlet>
