<div class="content">
  <div class="left-content">
    <button mat-icon-button (click)="onToggleCollapsed()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="brand-name">
      GITMARKS
    </div>
  </div>
  <div class="centered-content">
    <div class="search-wrap">
      <button mat-icon-button class="search-btn">
        <mat-icon>search</mat-icon>
      </button>
      <div class="input-wrap">
        <label for="search"></label>
        <input placeholder="搜索" autocomplete="off" id="search" type="text">
      </div>
      <button mat-icon-button class="clear-btn">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>

  <div class="right-content">
    <button mat-icon-button class="refresh-btn" title="刷新" (click)="onRefresh()">
      <mat-icon>refresh</mat-icon>
    </button>
    <img [matMenuTriggerFor]="userMenu" class="avatar" [src]="userAvatar">
    <mat-menu class="user-menu" #userMenu="matMenu">
      <span mat-menu-item>
        <mat-icon>
          account_circle
        </mat-icon>
        <span>{{username || '请绑定用户'}}</span>
      </span>
      <button mat-menu-item (click)="onReplace()">
        <mat-icon>
          exit_to_app
        </mat-icon>
        <span>{{username ? '切换用户' : '绑定用户'}}</span>
      </button>
    </mat-menu>
  </div>

</div>
