/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: #e8e8e8;
  color: rgba(0,0,0,.87);
  direction: ltr;
  font-family: 'Roboto',arial,sans-serif;
  font-size: 15px;
  margin: 0;
  min-width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}
